
.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.typing-text {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-geist-mono);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: typing 4s steps(22, end) forwards, blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black; }
}
